:root{
    --main:rgb(160, 147, 125);
    --secondary:rgb(231, 212, 181);
    --normal:rgb(246, 230, 203);
    --light-weight:rgb(182, 199, 170);
    --panel: burlywood;
}
.left-admin-panel{
    background-color: var(--panel);
}


.table1 {
    border-collapse: collapse;
    width: 100%;
}
  
.th1, .td1 {
    text-align: left;
    padding: 8px;
}
  
.tr1:nth-child(odd) {
    /* background-color: lightgray; */
    background-color: #f9fafd;
}

.add-products-form-container{
    height: calc(100vh - 20vh);
}

.add-product-table tr > td{
    padding: 5px 0px;
}
.add-product-table tr > td:nth-child(odd){
    padding-right: 10px;
}

.product-viewer-body{
    height: calc(100vh - 37.5vh);
}

.products-view-container{
    height: 100%;
}

.product-items-holder{
    height: 100%;
}


.user-viewer-container{
    height: calc(100vh - 20vh);
}

.contact-page-main-container{
    height: calc(100vh - 20vh);
}