html{
    scroll-behavior: smooth;
}

.header{
    background-color: var(--secondary);
}
.footer{
    background-color: var(--main);
}
.user-content-btn{
    border-color: var(--secondary);
    box-shadow: 3px 3px var(--secondary);
}

:root{
    --main:rgb(160, 147, 125);
    --secondary:rgb(231, 212, 181);
    --normal:rgb(246, 230, 203);
    --light-weight:rgb(182, 199, 170);
}

::-webkit-scrollbar{
    width: 10px;
    /* background-color: rgb(236, 163, 104); */
}

::-webkit-scrollbar-thumb{
    background-color: var(--main);
    border-radius: 10px;
}

.speacial-text{
    text-shadow: 2px 2px 3px rgba(0,0,0,0.8);
}
.home-body{
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.2);
    position: relative;
}

.home-cover-video{
    z-index: -1;
    position: absolute;
    top: 0%;
    left: 0%;
}

.homeCard{
    overflow: hidden;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
}

.homeCard:hover{
    cursor: pointer;
}
/* 
.homeCard:hover > img{
    scale: 1.09;
} */

.btn1{
    background-color: var(--light-weight);
}

.speacial-btn{
    background-color: transparent;
    
    border: 1px solid var(--light-weight);
    box-shadow: 2px 2px var(--light-weight);
    transition: all .3s linear;
}
.speacial-btn:hover{
    background-color: var(--light-weight);  
    border: 1px solid var(--light-weight);
    color: white;
    box-shadow: none;
}

.special-border{
    border: 1px solid var(--light-weight);
}

::selection{
    color: white;
    /* background-color: var(--main); */
    background-color: var(--light-weight);
}

.user-profile-container{
    background-color: var(--main);
}
.user-profile-right-side{
    background-color: var(--secondary);
}